#userdata, #menu, #score
 {
    
    background-color: white;
    border: 2px solid black;
    width: fit-content;
    margin-top: 20px;
    border-radius: 8px;
    padding: 5px 10px;
    
    
    
}



    
    
.btn {

padding: 5px 10px;
margin: 10px;
background-color: rgb(26, 51, 0);
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
}



.btn:hover {
    background-color: rgb(51, 102, 0);
}   



#arena {
    
    margin-top: 50px;
    border: 2px solid black;
    width: 1000px;
    height: 600px;
    background-color: lightgray;
    position: relative;
    overflow: visible;
    border-radius: 20px;
    margin: 50px;
    background-image: url(../img/ba.jpg);
    
    background-size: cover;
}

.arena-wrapper {
    display: flex;            
    justify-content: center;  
    gap: 510px;                
}

#monsterpic, #monsterpicattack {
    display: flex;            
    flex-direction: column;   
    align-items: center;      
    
    padding: 20px;
    
    
}


img {

    margin: 10px;
   
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  border: 2px solid black;

}
img:hover {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-4px, 4px);
  }
  40% {
    transform: translate(-4px, -4px);
  }
  60% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(4px, -4px);
  }
  100% {
    transform: translate(0);
  }
}




#monster1.selected, #monster2.selected, #monster3.selected, #monster4.selected {
    border: 5px solid green; 
    opacity: 1;
    transform: scale(1.2); 
}




#monster1a, #monster2a, #monster3a, #monster4a {
animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;


}



    
    
    
    
    


#ArenaModal {
    text-align: center;
    height: 600px;
    width: 300px;
    padding: 20px;
    width: 400px;
    background-color: lightgray;
    border: 2px solid black;
    margin-top: 50px;
   
    overflow: scroll;
    
}

p {
    margin: 20px;
}


#viewfield {
    display: flex;
    
    justify-content: center;
    
   
}




#eingabeInfo {
    
    display: flex;           
    flex-direction: column;

  
    align-items: center;     
    
    padding: 20px;
    margin: 10px;
}
    
    
